<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>    
    <add name="NongYaoConnectionString" connectionString="Data Source=localhost;Initial Catalog=NongYao;Persist Security Info=True;User ID=sa;Password=rkslwgid"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ServerRootUri" value="http://192.168.3.125:8081/"/>
    <add key="ServerPhysicalPath" value="E:/Other/NongYaoSite/"/>
    <add key="DeploymentDate" value="2013/1/1 00:00:00"/>
	  <add key="UploadPath" value="D:/Work/" />
  </appSettings>
  <system.web>
    <authentication mode="None"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="newtonsoftJsonBinding" contentTypeMapper="NongYaoService.Json.NewtonsoftJsonContentTypeMapper, NongYaoService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" maxReceivedMessageSize="204822000">
          <readerQuotas maxStringContentLength="204822000"/>

        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="NongYaoService.ServiceBehavior" name="NongYaoService.Service1">
        <endpoint
          address=""
          behaviorConfiguration="newtonsoftJsonBehavior"
          binding="webHttpBinding"
          bindingConfiguration="newtonsoftJsonBinding"
          contract="NongYaoService.IService">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="newtonsoftJsonBehavior">
          <webHttp defaultOutgoingResponseFormat="Json" />
          <newtonJsonBehaviorExtension />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="NongYaoService.ServiceBehavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="newtonJsonBehaviorExtension" type="NongYaoService.Json.NewtonsoftJsonBehaviorExtension, NongYaoService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <system.webServer>
    <directoryBrowse enabled="true"/>
    <staticContent>
      <remove fileExtension=".apk"/>
      <mimeMap fileExtension=".apk" mimeType="video/mp4"/>
    </staticContent>
  </system.webServer>
</configuration>